In [1]:
import pandas as pd
stu_record={"name":['aman','gaman','raman','parry'],'id':[1,2,3,4,],'roll no':[12,13,14,15]}
a=pd.DataFrame(stu_record,)
#ab=pd.Series(stu_record).shape
print(a)
#print(a)

#d=a.shape
#print(d)
#a.to_csv('final_data.csv')
#a.to_excel('final_data1.xlsx')
#ab.to_csv('final_data2.csv')

   id   name  roll no
0   1   aman       12
1   2  gaman       13
2   3  raman       14
3   4  parry       15

In [2]:
b=a.head(2)
print(b)

   id   name  roll no
0   1   aman       12
1   2  gaman       13

In [3]:
print(a.tail(3))

   id   name  roll no
1   2  gaman       13
2   3  raman       14
3   4  parry       15

In [4]:
df = pd.read_csv("TechCrunchcontinentalUSA (1).csv")
print(df)

               permalink              company  numEmps   category  \
0               lifelock             LifeLock      NaN        web
1               lifelock             LifeLock      NaN        web
2               lifelock             LifeLock      NaN        web
3            mycityfaces          MyCityFaces      7.0        web
4               flypaper             Flypaper      NaN        web
5           infusionsoft         Infusionsoft    105.0   software
6                  gauto                gAuto      4.0        web
7         chosenlist-com       ChosenList.com      5.0        web
8         chosenlist-com       ChosenList.com      5.0        web
9                   digg                 Digg     60.0        web
10                  digg                 Digg     60.0        web
11              facebook             Facebook    450.0        web
12              facebook             Facebook    450.0        web
13              facebook             Facebook    450.0        web
14              facebook             Facebook    450.0        web
15              facebook             Facebook    450.0        web
16              facebook             Facebook    450.0        web
17              facebook             Facebook    450.0        web
18           photobucket          Photobucket     60.0        web
19           photobucket          Photobucket     60.0        web
20             omnidrive            Omnidrive      NaN        web
21                  geni                 Geni     18.0        web
22                  geni                 Geni     18.0        web
23               twitter              Twitter     17.0        web
24               twitter              Twitter     17.0        web
25           stumbleupon          StumbleUpon      NaN        web
26                gizmoz               Gizmoz      NaN        web
27                gizmoz               Gizmoz      NaN        web
28                scribd               Scribd     14.0        web
29                scribd               Scribd     14.0        web
...                  ...                  ...      ...        ...
1430            fyreball             Fyreball      NaN        web
1431      delve-networks       Delve Networks      NaN        web
1432      delve-networks       Delve Networks      NaN        web
1433           livemocha            LiveMocha      NaN        web
1434  mercentcorporation  Mercent Corporation     50.0        web
1435           cleverset            CleverSet      NaN        web
1436           cleverset            CleverSet      NaN        web
1437           cleverset            CleverSet      NaN        web
1438       liquidplanner        LiquidPlanner     11.0        web
1439             limeade              Limeade     10.0        web
1440               yodio                Yodio      4.0        web
1441         tastemakers          Tastemakers     11.0        web
1442      whitepages-com       WhitePages.com    125.0        web
1443      revenuescience       RevenueScience      NaN        web
1444            gotvoice             GotVoice     15.0     mobile
1445   cardomain-network    CarDomain Network     50.0        web
1446               mpire                mpire      NaN        web
1447               mpire                mpire      NaN        web
1448         teachstreet          TeachStreet      8.0        web
1449            estately             Estately      NaN        web
1450             infinia              Infinia      NaN  cleantech
1451             infinia              Infinia      NaN  cleantech
1452           m-metrics            M:Metrics      NaN        web
1453                cozi                 Cozi     26.0   software
1454                cozi                 Cozi     26.0   software
1455             trusera              Trusera     15.0        web
1456          alerts-com           Alerts.com      NaN        web
1457               myrio                Myrio     75.0   software
1458       grid-networks        Grid Networks      NaN        web
1459       grid-networks        Grid Networks      NaN        web

                city state fundedDate  raisedAmt raisedCurrency         round
0              Tempe    AZ   1-May-07    6850000            USD             b
1              Tempe    AZ   1-Oct-06    6000000            USD             a
2              Tempe    AZ   1-Jan-08   25000000            USD             c
3         Scottsdale    AZ   1-Jan-08      50000            USD          seed
4            Phoenix    AZ   1-Feb-08    3000000            USD             a
5            Gilbert    AZ   1-Oct-07    9000000            USD             a
6         Scottsdale    AZ   1-Jan-08     250000            USD          seed
7         Scottsdale    AZ   1-Oct-06     140000            USD          seed
8         Scottsdale    AZ  25-Jan-08     233750            USD         angel
9      San Francisco    CA   1-Dec-06    8500000            USD             b
10     San Francisco    CA   1-Oct-05    2800000            USD             a
11         Palo Alto    CA   1-Sep-04     500000            USD         angel
12         Palo Alto    CA   1-May-05   12700000            USD             a
13         Palo Alto    CA   1-Apr-06   27500000            USD             b
14         Palo Alto    CA   1-Oct-07  300000000            USD             c
15         Palo Alto    CA   1-Mar-08   40000000            USD             c
16         Palo Alto    CA  15-Jan-08   15000000            USD             c
17         Palo Alto    CA   1-May-08  100000000            USD    debt_round
18         Palo Alto    CA   1-May-06   10500000            USD             b
19         Palo Alto    CA   1-Mar-05    3000000            USD             a
20         Palo Alto    CA   1-Dec-06     800000            USD         angel
21    West Hollywood    CA   1-Jan-07    1500000            USD             a
22    West Hollywood    CA   1-Mar-07   10000000            USD             b
23     San Francisco    CA   1-Jul-07    5400000            USD             b
24     San Francisco    CA   1-May-08   15000000            USD             c
25     San Francisco    CA   1-Dec-05    1500000            USD          seed
26        Menlo Park    CA   1-May-07    6300000            USD             a
27        Menlo Park    CA  16-Mar-08    6500000            USD             b
28     San Francisco    CA   1-Jun-06      12000            USD          seed
29     San Francisco    CA   1-Jan-07      40000            USD         angel
...              ...   ...        ...        ...            ...           ...
1430        Bellevue    WA   1-Dec-07    1000000            USD         angel
1431         Seattle    WA   1-Dec-06    1650000            USD          seed
1432         Seattle    WA   1-Aug-07    8000000            USD             a
1433        Bellevue    WA   1-Jan-08    6000000            USD             a
1434         Seattle    WA   1-Jan-08    6500000            USD             b
1435         Seattle    WA   1-Aug-06    1400000            USD         angel
1436         Seattle    WA   1-Sep-05    1200000            USD             a
1437         Seattle    WA   1-Dec-07     500000            USD         angel
1438        Bellevue    WA   1-Jan-08    1200000            USD         angel
1439        Bellevue    WA   1-Jan-07    1000000            USD         angel
1440        Bellevue    WA   1-Feb-08     850000            USD             a
1441         Seattle    WA   1-Feb-07    1000000            USD             a
1442         Seattle    WA   1-Aug-05   45000000            USD             a
1443         Seattle    WA  19-Dec-05   24000000            USD             e
1444        Kirkland    WA  25-Oct-06    3000000            USD             a
1445         Seattle    WA  29-Jun-07    3000000            USD             a
1446         Seattle    WA   1-Feb-07    9800000            USD             a
1447         Seattle    WA  11-Jun-08   10000000            USD             b
1448         Seattle    WA   1-Mar-08    2250000            USD             a
1449             NaN    WA  24-Apr-08     450000            USD         angel
1450       Kennewick    WA  22-Apr-08   57000000            USD             b
1451       Kennewick    WA   1-Jun-07    9500000            USD             a
1452         Seattle    WA  16-Oct-05    7000000            USD             b
1453         Seattle    WA  11-Jul-07    3000000            USD             a
1454         Seattle    WA   1-Jun-08    8000000            USD             c
1455         Seattle    WA   1-Jun-07    2000000            USD         angel
1456        Bellevue    WA   8-Jul-08    1200000            USD             a
1457         Bothell    WA   1-Jan-01   20500000            USD  unattributed
1458         Seattle    WA  30-Oct-07    9500000            USD             a
1459         Seattle    WA  20-May-08   10500000            USD             b

[1460 rows x 10 columns]

In [5]:
df.columns=["company","numEmps","permalink",'category','fundedDate','city','state',"raisedAmt","raisedCurrency",'round']
print(df)

                 company              numEmps  permalink   category  \
0               lifelock             LifeLock        NaN        web
1               lifelock             LifeLock        NaN        web
2               lifelock             LifeLock        NaN        web
3            mycityfaces          MyCityFaces        7.0        web
4               flypaper             Flypaper        NaN        web
5           infusionsoft         Infusionsoft      105.0   software
6                  gauto                gAuto        4.0        web
7         chosenlist-com       ChosenList.com        5.0        web
8         chosenlist-com       ChosenList.com        5.0        web
9                   digg                 Digg       60.0        web
10                  digg                 Digg       60.0        web
11              facebook             Facebook      450.0        web
12              facebook             Facebook      450.0        web
13              facebook             Facebook      450.0        web
14              facebook             Facebook      450.0        web
15              facebook             Facebook      450.0        web
16              facebook             Facebook      450.0        web
17              facebook             Facebook      450.0        web
18           photobucket          Photobucket       60.0        web
19           photobucket          Photobucket       60.0        web
20             omnidrive            Omnidrive        NaN        web
21                  geni                 Geni       18.0        web
22                  geni                 Geni       18.0        web
23               twitter              Twitter       17.0        web
24               twitter              Twitter       17.0        web
25           stumbleupon          StumbleUpon        NaN        web
26                gizmoz               Gizmoz        NaN        web
27                gizmoz               Gizmoz        NaN        web
28                scribd               Scribd       14.0        web
29                scribd               Scribd       14.0        web
...                  ...                  ...        ...        ...
1430            fyreball             Fyreball        NaN        web
1431      delve-networks       Delve Networks        NaN        web
1432      delve-networks       Delve Networks        NaN        web
1433           livemocha            LiveMocha        NaN        web
1434  mercentcorporation  Mercent Corporation       50.0        web
1435           cleverset            CleverSet        NaN        web
1436           cleverset            CleverSet        NaN        web
1437           cleverset            CleverSet        NaN        web
1438       liquidplanner        LiquidPlanner       11.0        web
1439             limeade              Limeade       10.0        web
1440               yodio                Yodio        4.0        web
1441         tastemakers          Tastemakers       11.0        web
1442      whitepages-com       WhitePages.com      125.0        web
1443      revenuescience       RevenueScience        NaN        web
1444            gotvoice             GotVoice       15.0     mobile
1445   cardomain-network    CarDomain Network       50.0        web
1446               mpire                mpire        NaN        web
1447               mpire                mpire        NaN        web
1448         teachstreet          TeachStreet        8.0        web
1449            estately             Estately        NaN        web
1450             infinia              Infinia        NaN  cleantech
1451             infinia              Infinia        NaN  cleantech
1452           m-metrics            M:Metrics        NaN        web
1453                cozi                 Cozi       26.0   software
1454                cozi                 Cozi       26.0   software
1455             trusera              Trusera       15.0        web
1456          alerts-com           Alerts.com        NaN        web
1457               myrio                Myrio       75.0   software
1458       grid-networks        Grid Networks        NaN        web
1459       grid-networks        Grid Networks        NaN        web

          fundedDate city      state  raisedAmt raisedCurrency         round
0              Tempe   AZ   1-May-07    6850000            USD             b
1              Tempe   AZ   1-Oct-06    6000000            USD             a
2              Tempe   AZ   1-Jan-08   25000000            USD             c
3         Scottsdale   AZ   1-Jan-08      50000            USD          seed
4            Phoenix   AZ   1-Feb-08    3000000            USD             a
5            Gilbert   AZ   1-Oct-07    9000000            USD             a
6         Scottsdale   AZ   1-Jan-08     250000            USD          seed
7         Scottsdale   AZ   1-Oct-06     140000            USD          seed
8         Scottsdale   AZ  25-Jan-08     233750            USD         angel
9      San Francisco   CA   1-Dec-06    8500000            USD             b
10     San Francisco   CA   1-Oct-05    2800000            USD             a
11         Palo Alto   CA   1-Sep-04     500000            USD         angel
12         Palo Alto   CA   1-May-05   12700000            USD             a
13         Palo Alto   CA   1-Apr-06   27500000            USD             b
14         Palo Alto   CA   1-Oct-07  300000000            USD             c
15         Palo Alto   CA   1-Mar-08   40000000            USD             c
16         Palo Alto   CA  15-Jan-08   15000000            USD             c
17         Palo Alto   CA   1-May-08  100000000            USD    debt_round
18         Palo Alto   CA   1-May-06   10500000            USD             b
19         Palo Alto   CA   1-Mar-05    3000000            USD             a
20         Palo Alto   CA   1-Dec-06     800000            USD         angel
21    West Hollywood   CA   1-Jan-07    1500000            USD             a
22    West Hollywood   CA   1-Mar-07   10000000            USD             b
23     San Francisco   CA   1-Jul-07    5400000            USD             b
24     San Francisco   CA   1-May-08   15000000            USD             c
25     San Francisco   CA   1-Dec-05    1500000            USD          seed
26        Menlo Park   CA   1-May-07    6300000            USD             a
27        Menlo Park   CA  16-Mar-08    6500000            USD             b
28     San Francisco   CA   1-Jun-06      12000            USD          seed
29     San Francisco   CA   1-Jan-07      40000            USD         angel
...              ...  ...        ...        ...            ...           ...
1430        Bellevue   WA   1-Dec-07    1000000            USD         angel
1431         Seattle   WA   1-Dec-06    1650000            USD          seed
1432         Seattle   WA   1-Aug-07    8000000            USD             a
1433        Bellevue   WA   1-Jan-08    6000000            USD             a
1434         Seattle   WA   1-Jan-08    6500000            USD             b
1435         Seattle   WA   1-Aug-06    1400000            USD         angel
1436         Seattle   WA   1-Sep-05    1200000            USD             a
1437         Seattle   WA   1-Dec-07     500000            USD         angel
1438        Bellevue   WA   1-Jan-08    1200000            USD         angel
1439        Bellevue   WA   1-Jan-07    1000000            USD         angel
1440        Bellevue   WA   1-Feb-08     850000            USD             a
1441         Seattle   WA   1-Feb-07    1000000            USD             a
1442         Seattle   WA   1-Aug-05   45000000            USD             a
1443         Seattle   WA  19-Dec-05   24000000            USD             e
1444        Kirkland   WA  25-Oct-06    3000000            USD             a
1445         Seattle   WA  29-Jun-07    3000000            USD             a
1446         Seattle   WA   1-Feb-07    9800000            USD             a
1447         Seattle   WA  11-Jun-08   10000000            USD             b
1448         Seattle   WA   1-Mar-08    2250000            USD             a
1449             NaN   WA  24-Apr-08     450000            USD         angel
1450       Kennewick   WA  22-Apr-08   57000000            USD             b
1451       Kennewick   WA   1-Jun-07    9500000            USD             a
1452         Seattle   WA  16-Oct-05    7000000            USD             b
1453         Seattle   WA  11-Jul-07    3000000            USD             a
1454         Seattle   WA   1-Jun-08    8000000            USD             c
1455         Seattle   WA   1-Jun-07    2000000            USD         angel
1456        Bellevue   WA   8-Jul-08    1200000            USD             a
1457         Bothell   WA   1-Jan-01   20500000            USD  unattributed
1458         Seattle   WA  30-Oct-07    9500000            USD             a
1459         Seattle   WA  20-May-08   10500000            USD             b

[1460 rows x 10 columns]

In [18]:
df.index=range(1,1461)
print(df)

                 company              numEmps  permalink   category  \
1               lifelock             LifeLock        NaN        web
2               lifelock             LifeLock        NaN        web
3               lifelock             LifeLock        NaN        web
4            mycityfaces          MyCityFaces        7.0        web
5               flypaper             Flypaper        NaN        web
6           infusionsoft         Infusionsoft      105.0   software
7                  gauto                gAuto        4.0        web
8         chosenlist-com       ChosenList.com        5.0        web
9         chosenlist-com       ChosenList.com        5.0        web
10                  digg                 Digg       60.0        web
11                  digg                 Digg       60.0        web
12              facebook             Facebook      450.0        web
13              facebook             Facebook      450.0        web
14              facebook             Facebook      450.0        web
15              facebook             Facebook      450.0        web
16              facebook             Facebook      450.0        web
17              facebook             Facebook      450.0        web
18              facebook             Facebook      450.0        web
19           photobucket          Photobucket       60.0        web
20           photobucket          Photobucket       60.0        web
21             omnidrive            Omnidrive        NaN        web
22                  geni                 Geni       18.0        web
23                  geni                 Geni       18.0        web
24               twitter              Twitter       17.0        web
25               twitter              Twitter       17.0        web
26           stumbleupon          StumbleUpon        NaN        web
27                gizmoz               Gizmoz        NaN        web
28                gizmoz               Gizmoz        NaN        web
29                scribd               Scribd       14.0        web
30                scribd               Scribd       14.0        web
...                  ...                  ...        ...        ...
1431            fyreball             Fyreball        NaN        web
1432      delve-networks       Delve Networks        NaN        web
1433      delve-networks       Delve Networks        NaN        web
1434           livemocha            LiveMocha        NaN        web
1435  mercentcorporation  Mercent Corporation       50.0        web
1436           cleverset            CleverSet        NaN        web
1437           cleverset            CleverSet        NaN        web
1438           cleverset            CleverSet        NaN        web
1439       liquidplanner        LiquidPlanner       11.0        web
1440             limeade              Limeade       10.0        web
1441               yodio                Yodio        4.0        web
1442         tastemakers          Tastemakers       11.0        web
1443      whitepages-com       WhitePages.com      125.0        web
1444      revenuescience       RevenueScience        NaN        web
1445            gotvoice             GotVoice       15.0     mobile
1446   cardomain-network    CarDomain Network       50.0        web
1447               mpire                mpire        NaN        web
1448               mpire                mpire        NaN        web
1449         teachstreet          TeachStreet        8.0        web
1450            estately             Estately        NaN        web
1451             infinia              Infinia        NaN  cleantech
1452             infinia              Infinia        NaN  cleantech
1453           m-metrics            M:Metrics        NaN        web
1454                cozi                 Cozi       26.0   software
1455                cozi                 Cozi       26.0   software
1456             trusera              Trusera       15.0        web
1457          alerts-com           Alerts.com        NaN        web
1458               myrio                Myrio       75.0   software
1459       grid-networks        Grid Networks        NaN        web
1460       grid-networks        Grid Networks        NaN        web

          fundedDate city      state  raisedAmt raisedCurrency         round
1              Tempe   AZ   1-May-07    6850000            USD             b
2              Tempe   AZ   1-Oct-06    6000000            USD             a
3              Tempe   AZ   1-Jan-08   25000000            USD             c
4         Scottsdale   AZ   1-Jan-08      50000            USD          seed
5            Phoenix   AZ   1-Feb-08    3000000            USD             a
6            Gilbert   AZ   1-Oct-07    9000000            USD             a
7         Scottsdale   AZ   1-Jan-08     250000            USD          seed
8         Scottsdale   AZ   1-Oct-06     140000            USD          seed
9         Scottsdale   AZ  25-Jan-08     233750            USD         angel
10     San Francisco   CA   1-Dec-06    8500000            USD             b
11     San Francisco   CA   1-Oct-05    2800000            USD             a
12         Palo Alto   CA   1-Sep-04     500000            USD         angel
13         Palo Alto   CA   1-May-05   12700000            USD             a
14         Palo Alto   CA   1-Apr-06   27500000            USD             b
15         Palo Alto   CA   1-Oct-07  300000000            USD             c
16         Palo Alto   CA   1-Mar-08   40000000            USD             c
17         Palo Alto   CA  15-Jan-08   15000000            USD             c
18         Palo Alto   CA   1-May-08  100000000            USD    debt_round
19         Palo Alto   CA   1-May-06   10500000            USD             b
20         Palo Alto   CA   1-Mar-05    3000000            USD             a
21         Palo Alto   CA   1-Dec-06     800000            USD         angel
22    West Hollywood   CA   1-Jan-07    1500000            USD             a
23    West Hollywood   CA   1-Mar-07   10000000            USD             b
24     San Francisco   CA   1-Jul-07    5400000            USD             b
25     San Francisco   CA   1-May-08   15000000            USD             c
26     San Francisco   CA   1-Dec-05    1500000            USD          seed
27        Menlo Park   CA   1-May-07    6300000            USD             a
28        Menlo Park   CA  16-Mar-08    6500000            USD             b
29     San Francisco   CA   1-Jun-06      12000            USD          seed
30     San Francisco   CA   1-Jan-07      40000            USD         angel
...              ...  ...        ...        ...            ...           ...
1431        Bellevue   WA   1-Dec-07    1000000            USD         angel
1432         Seattle   WA   1-Dec-06    1650000            USD          seed
1433         Seattle   WA   1-Aug-07    8000000            USD             a
1434        Bellevue   WA   1-Jan-08    6000000            USD             a
1435         Seattle   WA   1-Jan-08    6500000            USD             b
1436         Seattle   WA   1-Aug-06    1400000            USD         angel
1437         Seattle   WA   1-Sep-05    1200000            USD             a
1438         Seattle   WA   1-Dec-07     500000            USD         angel
1439        Bellevue   WA   1-Jan-08    1200000            USD         angel
1440        Bellevue   WA   1-Jan-07    1000000            USD         angel
1441        Bellevue   WA   1-Feb-08     850000            USD             a
1442         Seattle   WA   1-Feb-07    1000000            USD             a
1443         Seattle   WA   1-Aug-05   45000000            USD             a
1444         Seattle   WA  19-Dec-05   24000000            USD             e
1445        Kirkland   WA  25-Oct-06    3000000            USD             a
1446         Seattle   WA  29-Jun-07    3000000            USD             a
1447         Seattle   WA   1-Feb-07    9800000            USD             a
1448         Seattle   WA  11-Jun-08   10000000            USD             b
1449         Seattle   WA   1-Mar-08    2250000            USD             a
1450             NaN   WA  24-Apr-08     450000            USD         angel
1451       Kennewick   WA  22-Apr-08   57000000            USD             b
1452       Kennewick   WA   1-Jun-07    9500000            USD             a
1453         Seattle   WA  16-Oct-05    7000000            USD             b
1454         Seattle   WA  11-Jul-07    3000000            USD             a
1455         Seattle   WA   1-Jun-08    8000000            USD             c
1456         Seattle   WA   1-Jun-07    2000000            USD         angel
1457        Bellevue   WA   8-Jul-08    1200000            USD             a
1458         Bothell   WA   1-Jan-01   20500000            USD  unattributed
1459         Seattle   WA  30-Oct-07    9500000            USD             a
1460         Seattle   WA  20-May-08   10500000            USD             b

[1460 rows x 10 columns]

In [7]:
#import pandas as pd
#df = pd.read_csv("TechCrunchcontinentalUSA (1).csv")
#pd.DataFrame(df,'category','fundedDate','city','state',"raisedAmt","raisedCurrency",'round',"company","numEmps","permalink")

In [19]:
df.iloc[0]    #here 2 is index(start from 0) value it print 3rd row in the dataframe
#df.iloc[2]   
#df.iloc[-1]   #-1 means start from last

company           lifelock
numEmps           LifeLock
permalink              NaN
category               web
fundedDate           Tempe
city                    AZ
state             1-May-07
raisedAmt          6850000
raisedCurrency         USD
round                    b
Name: 1, dtype: object

In [16]:
#df.iloc[:,0]                 #select all rows but only 0th column
#df.iloc[:,2]                  #select all rows but only 1st column
#df.iloc[:,-1]                 #select all rows but only last column
#df.iloc[2]

company           lifelock
numEmps           LifeLock
permalink              NaN
category               web
fundedDate           Tempe
city                    AZ
state             1-Jan-08
raisedAmt         25000000
raisedCurrency         USD
round                    c
Name: 3, dtype: object

In [10]:
df.iloc[0:5]              #select rows from 0 to 4 ie 5 and all column
#df.iloc[0:-5]              #select rows from 0 to -5 ie last fifth and all column

,company,numEmps,permalink,category,fundedDate,city,state,raisedAmt,raisedCurrency,round
1,lifelock,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
2,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a
3,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Jan-08,25000000,USD,c
4,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,1-Jan-08,50000,USD,seed
5,flypaper,Flypaper,NaN,web,Phoenix,AZ,1-Feb-08,3000000,USD,a

In [11]:
df.iloc[:,0:1]
#df.iloc[:,0:1].shape

                 company
1               lifelock
2               lifelock
3               lifelock
4            mycityfaces
5               flypaper
6           infusionsoft
7                  gauto
8         chosenlist-com
9         chosenlist-com
10                  digg
11                  digg
12              facebook
13              facebook
14              facebook
15              facebook
16              facebook
17              facebook
18              facebook
19           photobucket
20           photobucket
21             omnidrive
22                  geni
23                  geni
24               twitter
25               twitter
26           stumbleupon
27                gizmoz
28                gizmoz
29                scribd
30                scribd
...                  ...
1431            fyreball
1432      delve-networks
1433      delve-networks
1434           livemocha
1435  mercentcorporation
1436           cleverset
1437           cleverset
1438           cleverset
1439       liquidplanner
1440             limeade
1441               yodio
1442         tastemakers
1443      whitepages-com
1444      revenuescience
1445            gotvoice
1446   cardomain-network
1447               mpire
1448               mpire
1449         teachstreet
1450            estately
1451             infinia
1452             infinia
1453           m-metrics
1454                cozi
1455                cozi
1456             trusera
1457          alerts-com
1458               myrio
1459       grid-networks
1460       grid-networks

[1460 rows x 1 columns]

In [12]:
df.iloc[[0,3,6],[0,5,6]]

       company city     state
1     lifelock   AZ  1-May-07
4  mycityfaces   AZ  1-Jan-08
7        gauto   AZ  1-Jan-08

In [13]:
df.iloc[0:5,5:8]

  city     state  raisedAmt
1   AZ  1-May-07    6850000
2   AZ  1-Oct-06    6000000
3   AZ  1-Jan-08   25000000
4   AZ  1-Jan-08      50000
5   AZ  1-Feb-08    3000000

In [14]:
df.iloc[:,:3]

                 company              numEmps  permalink
1               lifelock             LifeLock        NaN
2               lifelock             LifeLock        NaN
3               lifelock             LifeLock        NaN
4            mycityfaces          MyCityFaces        7.0
5               flypaper             Flypaper        NaN
6           infusionsoft         Infusionsoft      105.0
7                  gauto                gAuto        4.0
8         chosenlist-com       ChosenList.com        5.0
9         chosenlist-com       ChosenList.com        5.0
10                  digg                 Digg       60.0
11                  digg                 Digg       60.0
12              facebook             Facebook      450.0
13              facebook             Facebook      450.0
14              facebook             Facebook      450.0
15              facebook             Facebook      450.0
16              facebook             Facebook      450.0
17              facebook             Facebook      450.0
18              facebook             Facebook      450.0
19           photobucket          Photobucket       60.0
20           photobucket          Photobucket       60.0
21             omnidrive            Omnidrive        NaN
22                  geni                 Geni       18.0
23                  geni                 Geni       18.0
24               twitter              Twitter       17.0
25               twitter              Twitter       17.0
26           stumbleupon          StumbleUpon        NaN
27                gizmoz               Gizmoz        NaN
28                gizmoz               Gizmoz        NaN
29                scribd               Scribd       14.0
30                scribd               Scribd       14.0
...                  ...                  ...        ...
1431            fyreball             Fyreball        NaN
1432      delve-networks       Delve Networks        NaN
1433      delve-networks       Delve Networks        NaN
1434           livemocha            LiveMocha        NaN
1435  mercentcorporation  Mercent Corporation       50.0
1436           cleverset            CleverSet        NaN
1437           cleverset            CleverSet        NaN
1438           cleverset            CleverSet        NaN
1439       liquidplanner        LiquidPlanner       11.0
1440             limeade              Limeade       10.0
1441               yodio                Yodio        4.0
1442         tastemakers          Tastemakers       11.0
1443      whitepages-com       WhitePages.com      125.0
1444      revenuescience       RevenueScience        NaN
1445            gotvoice             GotVoice       15.0
1446   cardomain-network    CarDomain Network       50.0
1447               mpire                mpire        NaN
1448               mpire                mpire        NaN
1449         teachstreet          TeachStreet        8.0
1450            estately             Estately        NaN
1451             infinia              Infinia        NaN
1452             infinia              Infinia        NaN
1453           m-metrics            M:Metrics        NaN
1454                cozi                 Cozi       26.0
1455                cozi                 Cozi       26.0
1456             trusera              Trusera       15.0
1457          alerts-com           Alerts.com        NaN
1458               myrio                Myrio       75.0
1459       grid-networks        Grid Networks        NaN
1460       grid-networks        Grid Networks        NaN

[1460 rows x 3 columns]